* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.editor {
  display: flex;
  flex-direction: column;
  flex-basis: 33%;

  > textarea {
    flex-grow: 1;
    font-family: Monaco, monospace;
    font-size: 16px;
    background: #161818;
    color: #fefefe;
    line-height: 1.2;
  }
}

button {
  -webkit-appearance: none;
  padding: 1rem;
  background: blue;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  border: none;
  background-color: #ff3cac;
  background-image: linear-gradient(135deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  transition: opacity ease-out 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

#cy {
  // width: 50vw;
  height: 100vh;
  flex-grow: 1;
}
